$blackText: #4a4a4a;
$blue: #002f4d;
$blueDark: #002740;
$blueGrey: #363942;
$blueLabel: #5b7e95;
$blueMid: #164460;
$green: #35c69c;
$grey: #d8d8d8;
$greyBackgroundLabel: #767676;
$greyBackgroundList: #292b32;
$greyBorder: #adadad;
$greyDark: #595959;
$greyDisabled: #dedfe0;
$greyLight: #999999;
$greyPlaceholderDisabled: #e6e6e6;
$orange: #d67500;
$orangeDark: #c7702e;
$orangeDisabled: #eaba7f;
$red: #ff5350;
$white: #ffffff;
$whiteBackground: #f2f2f2;
$zindex_1: 100;
$zindex_2: 200;

$desktop-large: 1280px;
$desktop-sm: 992px;
$desktop: 1024px;
$ipad: 1023px;
$mobile-md: 500px;
$mobile: 320px;
$tablet: 768px;

$globalFont: 'ProximaNovaBase';
