.create-playlist {
  margin: 10px 0 10px 0;
}

.subreddit-select {
  width: 200px;
}

.list-item {
  height: 20px;
}

.list {
  padding-top: 5px;
  padding-bottom: 5px;
}
.select-label {
  vertical-align: bottom;
}
.app-toolbar-filler {
  flex: 1 1 auto;
}

.spotify-image {
  margin: 0 5px 0 5px;
}

.spotify-logged-in-status {
  font-size: medium;
}
.header {
  margin-bottom: 10px;
}
