@import '../styles/variables.scss';

.about-card {
  line-height: 1.4;
}

.create-playlist {
  margin: 10px 0 10px 0;
}

.header {
  margin-bottom: 10px;
}

.list-item {
  font-size: x-small;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: $desktop) {
    font-size: medium;
  }
}

.list {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 500px;
}

.select-label {
  vertical-align: bottom;
}
