.app-progress {
  margin: 20px;
}

.about-card {
  line-height: 1.4;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.create-playlist {
  margin: 10px 0 10px 0;
}

.header {
  margin-bottom: 10px;
}

.list-item {
  height: 20px;
}

.list {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 500px;
}

.select-label {
  vertical-align: bottom;
}

.spotify-image {
  margin: 0 5px 0 5px;
}

.spotify-logged-in-status {
  font-size: medium;
}

.subreddit-options {
  padding-top: 20px;
}

.subreddit-select {
  width: 200px;
}
