<p class='redditPlaylist'>reddit playlist</p>
<a href='/auth/spotify' *ngIf="!isSpotifyAuthenticated" class='login-spotify'>Login to Spotify</a>
<div *ngIf="spotifyUser">
  <div class='spotify-logged-in-status'>Logged in to Spotify as: {{ spotifyUser.display_name }}
</div>
<div>
  <label>Subreddit</label>
  <select [(ngModel)]="subReddit" (ngModelChange)="onChange($event)">
    <option *ngFor="let sub of subRedditList"
      [selected]="sub == subReddit">
    {{ sub }}
    </option>
  </select>
</div>
<div *ngIf='fetchFromRedditInProgress'>Attempting to fetch songs for {{ subReddit }}</div>
