@import '../styles/variables.scss';

.app-progress {
  margin: 20px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.header {
  margin-bottom: 10px;
}

.spotify-image {
  margin: 0 5px 0 5px;
}

.spotify-header-section {
  display: none;
  @media screen and (min-width: $desktop) {
    display: inline-flex;
  }
}

.spotify-logged-in-status {
  font-size: x-small;
  @media screen and (min-width: $desktop) {
    font-size: medium;
  }
}

.spotify-header-mobile {
  display: inline-flex;
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
