<md-toolbar class='header' color="primary">

  <span class='app-heading'>Reddit Playlist Generator</span>

<md-progress-bar *ngIf='showProgressBar' color='accent' class="app-progress" mode="indeterminate"></md-progress-bar>
<span class="app-toolbar-filler"></span>
<div class='spotify-header-section'>
  <a md-button color='accent' *ngIf="!isSpotifyAuthenticated" href='/auth/spotify'>Login to Spotify</a>
  <div *ngIf="spotifyUser" class='spotify-logged-in-status'>Welcome {{ spotifyUser.display_name }}</div>
  <img class='spotify-image' *ngIf="spotifyUser" height='40px' width='40px' src='{{spotifyUser.images[0]?.url}}'/>
</div>
</md-toolbar>

<div class='spotify-header-mobile'>
  <a md-button color='accent' *ngIf="!isSpotifyAuthenticated" href='/auth/spotify'>Login to Spotify</a>
  <div *ngIf="spotifyUser" class='spotify-logged-in-status'>Welcome {{ spotifyUser.display_name }}</div>
  <img class='spotify-image' *ngIf="spotifyUser" height='40px' width='40px' src='{{spotifyUser.images[0]?.url}}'/>
</div>
